# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# IDE files
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Log files
*.log

# User feedback
feedback.csv

# ML models
*.keras
*.h5
*.pkl
model/*.keras
model/*.pkl

# Datasets
train/
test/
valid/
datasets/

# OS files
.DS_Store
Thumbs.db